.button, .node-ocp-assessment .download_all {
  display: inline-block;
  border-radius: 5px;
  padding: .4em 1em .5em;
  font-size: 20px;
  font-size: 2rem;
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  background-color: #006595;
  color: white;
  border: none;
  border-bottom: 2px solid #00496c;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.button:visited, .node-ocp-assessment .download_all:visited {
  color: white;
}
.button:hover, .node-ocp-assessment .download_all:hover, .button:active, .node-ocp-assessment .download_all:active {
  background-color: #00496c;
  color: white;
}
.button.button-disabled, .node-ocp-assessment .button-disabled.download_all {
  border-bottom-color: #bbbbbb;
  background-color: #eaeaea;
  color: #bbbbbb;
  cursor: default;
}
.button.button-disabled:visited, .node-ocp-assessment .button-disabled.download_all:visited, .button.button-disabled:hover, .node-ocp-assessment .button-disabled.download_all:hover, .button.button-disabled:active, .node-ocp-assessment .button-disabled.download_all:active {
  background-color: #eaeaea;
  color: #bbbbbb;
}
.button.button-subtle, .node-ocp-assessment .button-subtle.download_all {
  border-bottom-color: #444444;
  background-color: #787878;
  color: white;
}
.button.button-subtle:visited, .node-ocp-assessment .button-subtle.download_all:visited, .button.button-subtle:hover, .node-ocp-assessment .button-subtle.download_all:hover, .button.button-subtle:active, .node-ocp-assessment .button-subtle.download_all:active {
  background-color: #222222;
}
.button.button-small, .node-ocp-assessment .button-small.download_all {
  font-size: 16px;
  font-size: 1.6rem;
  padding: .25em .625em .3em;
}
.button.button-large, .node-ocp-assessment .button-large.download_all {
  font-size: 24px;
  font-size: 2.4rem;
  padding: .6em 1em .625em;
}
.button.button-full, .node-ocp-assessment .button-full.download_all {
  width: 100%;
}

.container {
  padding: 12px;
  background-color: #f3f3f3;
}
.container .title {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
  font-weight: 700;
  line-height: 24px;
  line-height: 2.4rem;
  color: #444444;
}
.container .body {
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
}
.container .body p {
  margin: 0;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 24px;
  line-height: 2.4rem;
}
.container .action {
  padding: 12px 0 6px;
}
@media (min-width: 37.5em) {
  .container .body {
    width: 64.95726%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  .container .action {
    width: 29.91453%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding: 6px 0;
    text-align: right;
  }
}

.container-group {
  *zoom: 1;
}
.container-group:before, .container-group:after {
  display: table;
  content: "";
}
.container-group:after {
  clear: both;
}
.container-group .container {
  margin-bottom: 6px;
}
@media (min-width: 37.5em) {
  .container-group .container {
    float: left;
    width: 48.75%;
  }
  .container-group .container:nth-child(even) {
    float: right;
  }
}

/* normalize.css v2.1.0 | MIT License | git.io/normalize */
/* normalize.scss v2.1.0 | MIT/GPLv2 License | bit.ly/normalize-with-compass */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 3. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  /* Establish a vertical rhythm unit using $base-line-height. */
  line-height: 1.5em;
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
p,
pre {
  margin: 1.5em 0;
}

blockquote {
  /* Set 1 unit of vertical rhythm on the top and bottom margin. */
  margin: 1.5em 40px;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em;
}

h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em;
}

h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
  line-height: 1.5em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Set 1 unit of vertical rhythm and a consistent indentation.
 */
dl,
menu,
ol,
ul {
  margin: 1.5em 0;
  padding: 0 0 0 40px;
}

dl {
  padding: 0;
}

dd {
  margin: 0 0 0 40px;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border-color: #c0c0c0;
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 0.4625em;
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: 0.9125em;
  border-left-style: solid;
  border-left-width: 0.0625em;
  padding-left: 0.875em;
  border-right-style: solid;
  border-right-width: 0.0625em;
  padding-right: 0.875em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Improve appearance and consistency with IE 6/7.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3 {
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
}

h2, h3, h4 {
  font-weight: 700;
}

h3, h4, h5 {
  margin-bottom: 12px;
}

h1 {
  font-size: 64px;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 72px;
  line-height: 7.2rem;
  margin-bottom: 24px;
}

h2 {
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 36px;
  line-height: 3.6rem;
  margin-bottom: 24px;
  color: #c6123f;
}

h3 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 30px;
  line-height: 3rem;
  color: #222222;
}

h4 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
  line-height: 2.4rem;
  font-family: Georgia, serif;
  color: #222222;
}

h5 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 24px;
  line-height: 2.4rem;
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
  font-weight: 400;
  color: #222222;
}

h6 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
  line-height: 2.4rem;
  margin-bottom: 0;
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: 400;
  color: #222222;
}

p, ul, dl, ol {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 1.5rem;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

li {
  margin-bottom: .75rem;
}

ul {
  padding-left: 1em;
}
ul li {
  list-style-type: disc;
}

ol {
  padding-left: .5em;
}
ol li {
  margin-left: 12px;
}

ol li {
  list-style-type: decimal;
}
ol li li {
  list-style-type: upper-alpha;
}
ol li li li {
  list-style-type: lower-roman;
}
ol li li li li {
  list-style-type: lower-alpha;
}

ul li ol li {
  list-style-type: decimal;
}
ul li ol li li {
  list-style-type: upper-alpha;
}

ul li li {
  list-style-type: circle;
}

a {
  color: #006595;
  cursor: pointer;
}
a:hover {
  color: #004262;
  text-decoration: none;
}
a:visited {
  color: #006595;
  text-decoration: none;
}
a:focus {
  color: #004262;
}

code {
  font: 12px/1 'Courier New', Courier, monospace;
}

sub, sup {
  line-height: 0;
}

hr {
  clear: both;
  display: block;
  margin: 0.75em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #c6123f;
}

table {
  margin-bottom: 2.4rem;
  font-family: Georgia, serif;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 1.2rem;
  text-align: left;
}

th {
  font-size: 20px;
  font-size: 2rem;
  border-left: 1px solid #e2889f;
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
  font-weight: 400;
  background-color: #c6123f;
  color: white;
  vertical-align: bottom;
}
th:first-child {
  border-left-width: 0;
}

td {
  border-bottom: 1px solid #bbbbbb;
  border-left: 1px solid #bbbbbb;
  background: #f3f3f3;
  vertical-align: top;
}
td:first-child {
  border-left-width: 0;
}

@media only screen and (max-width: 600px) {
  table {
    border-top: 1px solid #bbbbbb;
  }

  /* Zebra striping */
  tr:nth-of-type(odd) {
    background: #f3f3f3;
    border-bottom: 1px solid #bbbbbb;
  }

  tr:nth-of-type(even) {
    background: #eaeaea;
    border-bottom: 1px solid #bbbbbb;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 2px dotted #bbbbbb;
    position: relative;
    padding-left: 35%;
    white-space: normal;
    text-align: left;
    background: none;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    left: 12px;
    width: 30%;
    padding-right: 12px;
    text-align: left;
    font-size: 20px;
    font-size: 2rem;
    font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
    font-weight: 400;
    color: #444444;
  }

  td:last-child {
    border-bottom: none;
  }

  /*
  Label the data
  */
  td:before {
    content: attr(data-title);
  }
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-size: 62.5%;
  /*
    @include breakpoint($desktop) {
      @include font-size(18);
    }
    @include breakpoint($widescreen) {
      @include font-size(20);
    }
  */
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
  line-height: 2.4rem;
  font-family: Georgia, serif;
  background: white;
  color: #444444;
}

.center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
img.left {
  margin-right: 24px;
  margin-bottom: 24px;
}
img.right {
  margin-left: 24px;
  margin-bottom: 24px;
}

main {
  padding-top: 0;
  padding-bottom: 24px;
}
@media (min-width: 37.5em) {
  main {
    padding-bottom: 48px;
  }
}

.content {
  *zoom: 1;
}
.content:before, .content:after {
  display: table;
  content: "";
}
.content:after {
  clear: both;
}

.wrap {
  *zoom: 1;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 1100px;
  margin: 0 auto;
}
.wrap:before, .wrap:after {
  display: table;
  content: "";
}
.wrap:after {
  clear: both;
}
@media (min-width: 37.5em) {
  .wrap {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.node-top {
  width: 100%;
}
.node-top .node-top-inner {
  position: relative;
}
.node-top .title-wrapper {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media (min-width: 37.5em) {
  .node-top .title-wrapper {
    width: 74.375%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
}
.node-top .node-pager {
  position: absolute;
  top: 0;
  left: 12px;
  right: 12px;
  z-index: 1;
}
@media (min-width: 37.5em) {
  .node-top .node-pager {
    width: 23.125%;
    bottom: 0;
    left: auto;
    right: 24px;
    top: auto;
  }
}

.node-content {
  *zoom: 1;
}
.node-content:before, .node-content:after {
  display: table;
  content: "";
}
.node-content:after {
  clear: both;
}
.node-content #primary {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media (min-width: 37.5em) {
  .node-content #primary {
    width: 74.375%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
}
.node-content #secondary {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media (min-width: 37.5em) {
  .node-content #secondary {
    width: 23.125%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

.node-bottom {
  margin-top: 48px;
}
@media (min-width: 37.5em) {
  .node-bottom {
    clear: both;
    margin-top: 48px;
  }
}

.search .title-wrapper {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
.search .search-input {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
.search .search-report {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
.search #primary {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media (min-width: 37.5em) {
  .search #primary {
    width: 74.375%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
.search #secondary {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  margin-bottom: 48px;
}
.search #secondary h3 {
  margin-top: 0;
}
@media (min-width: 37.5em) {
  .search #secondary {
    width: 23.125%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    margin-bottom: 0;
  }
}

/* =======================================================
    Site Header Styles
   ======================================================= */
.site-header {
  padding-top: 12px;
  background-color: #c6123f;
  background-image: url("../img/bkg-wrench.png");
  background-position: right -30px;
  background-repeat: no-repeat;
  background-size: 90%;
}
@media (min-width: 37.5em) {
  .site-header {
    padding-top: 24px;
    background-size: 100%;
    background-position: right bottom;
  }
}
@media (min-width: 61.25em) {
  .site-header {
    background-size: 90%;
  }
}
@media (min-width: 68.75em) {
  .site-header {
    background-size: 80%;
  }
}

.site-header-inner {
  position: relative;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 1100px;
  margin: 0 auto;
}
@media (min-width: 37.5em) {
  .site-header-inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.identity {
  margin: 0;
  padding-bottom: 12px;
  *zoom: 1;
}
.identity:before, .identity:after {
  display: table;
  content: "";
}
.identity:after {
  clear: both;
}
@media (min-width: 37.5em) {
  .identity {
    padding-bottom: 24px;
  }
}

.el-logo {
  float: left;
  margin-right: 6px;
  width: 48px;
  height: 36px;
  background: transparent url("../img/el-logo.png") left top no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
@media (min-width: 37.5em) {
  .el-logo {
    float: none;
    width: 162px;
    height: 102px;
    margin-bottom: 2rem;
    position: relative;
    left: -12px;
  }
}

.site-title {
  display: block;
  color: white;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 36px;
  margin-bottom: 0;
  -webkit-font-smoothing: antialiased;
}
.site-title .mobile-hidden {
  display: none;
}
@media (min-width: 37.5em) {
  .site-title {
    font-size: 36px;
    font-size: 3.6rem;
    line-height: 42px;
    line-height: 4.2rem;
    width: 91.45833%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  .site-title .mobile-hidden {
    display: inline;
  }
}
@media (min-width: 61.25em) {
  .site-title {
    width: 82.91667%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
}
@media (min-width: 68.75em) {
  .site-title {
    width: 74.375%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
}

.main-nav {
  margin: 0;
  padding: 0;
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 28px;
  line-height: 2.8rem;
  background-color: #772432;
}
.main-nav > li {
  margin: 0;
  list-style-type: none;
  border-top: 2px dotted #c6123f;
}
.main-nav > li:first-child {
  border-top-width: 0;
}
.main-nav a {
  display: block;
  padding: .65rem .75rem .75rem;
  color: #e2889f;
  text-decoration: none;
}
.main-nav a:hover {
  color: white;
}
.main-nav .current a {
  color: white;
}
@media (min-width: 37.5em) {
  .main-nav {
    background-color: transparent;
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
  .main-nav > li {
    display: inline-block;
  }
  .main-nav a {
    color: #772432;
    padding: 0 .25rem;
  }
}
@media (min-width: 61.25em) {
  .main-nav {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
  .main-nav a {
    padding: 0 .5rem;
  }
}

.menu {
  max-height: 0;
  overflow-y: hidden;
  margin-left: -12px;
  margin-right: -12px;
  -moz-transition: max-height .3s ease-in-out;
  -ms-transition: max-height .3s ease-in-out;
  -o-transition: max-height .3s ease-in-out;
  -webkit-transition: max-height .3s ease-in-out;
  transition: max-height .3s ease-in-out;
}
.menu.active {
  max-height: 18em;
}
@media (min-width: 37.5em) {
  .menu {
    margin-left: 0;
    margin-right: 0;
    max-height: none;
    position: absolute;
    top: 0;
    right: 24px;
  }
}

#menu-toggle {
  position: absolute;
  right: 12px;
  top: 0;
  z-index: 10;
  width: 36px;
  height: 36px;
}
@media (min-width: 37.5em) {
  #menu-toggle {
    display: none;
  }
}

#menu-link {
  text-decoration: none;
  color: #772432;
}
#menu-link .icon {
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 36px;
}
#menu-link .open {
  display: block;
}
#menu-link .close {
  display: none;
}

#menu-link.active .open {
  display: none;
}
#menu-link.active .close {
  display: block;
}

.main-nav {
  margin: 0;
  padding: 0;
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 28px;
  line-height: 2.8rem;
  background-color: #772432;
}
.main-nav > li {
  margin: 0;
  list-style-type: none;
  border-top: 2px dotted #c6123f;
}
.main-nav > li:first-child {
  border-top-width: 0;
}
.main-nav a {
  display: block;
  padding: .65rem .75rem .75rem;
  color: #e2889f;
  text-decoration: none;
}
.main-nav a.active {
  color: white;
}
.main-nav a:hover {
  color: white;
}
@media (min-width: 37.5em) {
  .main-nav {
    background-color: transparent;
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
  .main-nav > li {
    display: inline-block;
  }
  .main-nav a, .main-nav a.active {
    color: #772432;
    padding: 0 .25rem;
  }
  .main-nav a:hover, .main-nav a.active:hover {
    color: white;
  }
}
@media (min-width: 61.25em) {
  .main-nav {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
  .main-nav a {
    padding: 0 .5rem;
  }
}

.menu {
  max-height: 0;
  overflow-y: hidden;
  margin-left: -12px;
  margin-right: -12px;
  -moz-transition: max-height .3s ease-in-out;
  -ms-transition: max-height .3s ease-in-out;
  -o-transition: max-height .3s ease-in-out;
  -webkit-transition: max-height .3s ease-in-out;
  transition: max-height .3s ease-in-out;
}
.menu.active {
  max-height: 18em;
}
@media (min-width: 37.5em) {
  .menu {
    margin-left: 0;
    margin-right: 0;
    max-height: none;
    position: absolute;
    top: 0;
    right: 24px;
  }
}

#menu-toggle {
  position: absolute;
  right: 12px;
  top: 0;
  z-index: 10;
  width: 36px;
  height: 36px;
}
@media (min-width: 37.5em) {
  #menu-toggle {
    display: none;
  }
}

#menu-link {
  text-decoration: none;
}
#menu-link .open {
  display: block;
}
#menu-link .close {
  display: none;
}

#menu-link.active .open {
  display: none;
}
#menu-link.active .close {
  display: block;
}

/* =======================================================
    Site Footer Styles
   ======================================================= */
footer {
  clear: right;
}

.site-footer {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #772432;
}
.site-footer h3 {
  margin: 0;
  color: white;
  font-weight: 400;
  line-height: 1.5em;
  text-align: center;
}
.site-footer a {
  color: white;
  text-decoration: underline;
}
.site-footer a:hover {
  text-decoration: none;
}
.site-footer .arrow {
  height: 1.375rem;
  width: 1.375rem;
  display: inline-block;
  margin-left: .5rem;
  position: relative;
  top: .125rem;
  background-color: transparent;
  background-image: url("../img/bkg-arrow-white.png");
  background-position: right 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: 37.5em) {
  .site-footer {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

#secondary-menu {
  background-color: #772432;
}

.secondary-menu-inner {
  padding-left: 12px;
  padding-right: 12px;
  max-width: 1100px;
  margin: 0 auto;
}
@media (min-width: 37.5em) {
  .secondary-menu-inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.secondary-nav {
  margin: 0;
  margin-left: -.8rem;
  padding: 0;
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-size: 2rem;
  line-height: 24px;
  line-height: 2.4rem;
}
.secondary-nav > li {
  display: inline-block;
  margin: 0 .8rem;
  padding: 0;
  list-style-type: none;
}
.secondary-nav a {
  display: block;
  padding: 1.4rem 0 1.6rem;
  color: #e2889f;
  text-decoration: none;
}
.secondary-nav a:hover {
  color: white;
}
.secondary-nav .current a {
  color: white;
}
@media (min-width: 61.25em) {
  .secondary-nav {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
}

/* =======================================================
    Assessment Styles
   ======================================================= */
.node-ocp-assessment .pane-node-title .pane-title {
  margin-bottom: 0;
}
.node-ocp-assessment .pane-node-title .pane-content h1 {
  margin-top: 0;
}

.jump-links .title {
  margin: 0;
  background: #444444;
  padding: 6px 12px;
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
  font-weight: 700;
  line-height: 24px;
  line-height: 2.4rem;
  background-color: #bbbbbb;
  color: #444444;
}
.jump-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.jump-links ul li {
  list-style-type: none;
  margin: 0;
  border-top: 2px solid #f3f3f3;
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
}
.jump-links ul li:first-child {
  border-top-width: 0;
}
.jump-links a {
  display: block;
  padding: 6px 12px;
  background: #eaeaea;
  text-decoration: none;
}
.jump-links a:hover {
  background: #f3f3f3;
  text-decoration: underline;
}
@media (min-width: 37.5em) {
  .jump-links .title {
    padding: 6px;
  }
  .jump-links a {
    padding: 6px;
  }
}
@media (min-width: 61.25em) {
  .jump-links .title {
    padding: 6px 12px;
  }
  .jump-links a {
    padding: 6px 12px;
  }
}

.node-top {
  border-bottom: 2px dotted #c6123f;
  margin-bottom: 24px;
  padding-bottom: 24px;
  padding-top: 24px;
}
@media (min-width: 37.5em) {
  .node-top {
    padding-top: 72px;
    padding-bottom: 36px;
  }
}

.title-wrapper .page-title {
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.1em;
}
.title-wrapper .id {
  margin: 0 0 24px;
  padding: 6px 0 0 0;
  font-size: 20px;
  font-size: 2rem;
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
  font-weight: 400;
  text-align: center;
}
.title-wrapper .thumbnail {
  display: none;
}
@media (min-width: 37.5em) {
  .title-wrapper .page-title {
    font-size: 48px;
    font-size: 4.8rem;
    line-height: 1.1em;
  }
  .title-wrapper .id {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .title-wrapper .thumbnail {
    position: relative;
    display: block;
    float: left;
    margin-right: 2.5%;
    width: 72px;
  }
}

.grade .node-top {
  margin-bottom: 0;
}

.module .node-top {
  border-bottom-width: 0;
  background-color: #772432;
  background-image: url("../img/treefrog-1600-12quality.jpg");
  background-size: cover;
  background-position: 50% 35%;
}
@media (min-width: 37.5em) {
  .module .node-top {
    padding-top: 192px;
  }
}
.module .title-wrapper {
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tag {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  padding: .2em .625em .3em;
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
  background-color: #f3f3f3;
}
.tag:hover {
  background-color: white;
  border-color: #eaeaea;
  color: #444444;
}

.tag-collection {
  margin-top: 0;
  padding-left: 0;
}
.tag-collection li {
  display: inline-block;
  list-style-type: none;
}

[class*='component'] {
  margin-bottom: 48px;
}
[class*='component'] table.one-fourth th:first-child {
  width: 50%;
}
[class*='component'] table.one-third th:first-child {
  width: 33%;
}
[class*='component'] table.one-half th:first-child {
  width: 50%;
}
[class*='component'] table.two-thirds th:first-child {
  width: 66%;
}
[class*='component'] table.three-fourths th:first-child {
  width: 75%;
}
[class*='component'] table h3, [class*='component'] table h4, [class*='component'] table ol, [class*='component'] table ul, [class*='component'] table p, [class*='component'] table blockquote {
  margin-top: 0;
}
[class*='component'] table h3 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
  line-height: 2.4rem;
  font-family: Georgia, serif;
  font-weight: 700;
}
[class*='component'] table h4 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 24px;
  line-height: 2.4rem;
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
  font-weight: 400;
}
[class*='component'] table blockquote {
  margin: 12px 0;
  padding: 0 12px;
  font-style: italic;
  color: #787878;
}

.component-text header {
  border-bottom: 2px dotted #c6123f;
}

.search .node-top {
  border: none;
  margin-bottom: 24px;
  padding-bottom: 0;
  padding-top: 24px;
}
@media (min-width: 37.5em) {
  .search .node-top {
    padding-top: 72px;
    padding-bottom: 0;
  }
}
.search .page-title {
  margin-bottom: 24px;
}
.search .search-input {
  margin-bottom: 24px;
  padding: 12px;
  background-color: #f3f3f3;
}
.search .search-input label {
  display: block;
  margin-bottom: 6px;
  font-size: 20px;
  font-size: 2rem;
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
  font-weight: 700;
  line-height: 24px;
  line-height: 2.4rem;
  color: #444444;
}
.search .search-input label:after {
  content: ': ';
}
.search .search-input input[type="text"],
.search .search-input input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  border-top-color: #bbbbbb;
  margin-bottom: 6px;
  padding: 6px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
}
.search .search-input input[type="text"]:focus,
.search .search-input input[type="search"]:focus {
  border-color: #c6123f;
}
.search .search-input input[type="submit"] {
  padding-left: 24px;
  padding-right: 24px;
}
@media (min-width: 37.5em) {
  .search .search-input {
    padding-bottom: 24px;
    padding-top: 24px;
  }
  .search .search-input label,
  .search .search-input input[type="text"],
  .search .search-input input[type="search"],
  .search .search-input input[type="submit"] {
    display: inline-block;
  }
  .search .search-input label {
    margin: 0 6px 0 0;
  }
  .search .search-input label:after {
    content: "";
  }
  .search .search-input input[type="text"],
  .search .search-input input[type="search"] {
    margin: 0 6px 0 0;
    width: 50%;
  }
  .search .search-input input[type="submit"] {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
}
.search .search-report {
  border-bottom: 2px dotted #c6123f;
  padding-bottom: 12px;
}
.search .search-report .count {
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 30px;
  line-height: 3rem;
  color: #222222;
}
.search .search-report .share, .search .search-report .reset {
  float: left;
  width: 50%;
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-size: 2rem;
  line-height: 30px;
  line-height: 3rem;
}
.search .search-report .share a, .search .search-report .reset a {
  text-decoration: none;
}
.search .search-report .share .icon, .search .search-report .reset .icon {
  font-size: 1.25em;
}
.search .search-report .reset {
  text-align: right;
}
@media (min-width: 37.5em) {
  .search .search-report .count {
    width: 23.125%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  .search .search-report .share {
    width: 48.75%;
    float: left;
    margin-right: -100%;
    margin-left: 25.625%;
    clear: none;
  }
  .search .search-report .reset {
    width: 23.125%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

.search-results {
  *zoom: 1;
}
.search-results:before, .search-results:after {
  display: table;
  content: "";
}
.search-results:after {
  clear: both;
}
@media (min-width: 37.5em) {
  .search-results .result {
    float: left;
    width: 48.31933%;
    clear: both;
  }
  .search-results .result:nth-child(even) {
    float: right;
    clear: none;
  }
}
@media (min-width: 61.25em) {
  .search-results .result:nth-child(even) {
    float: left;
  }
  .search-results .result {
    float: left;
    width: 31.09244%;
    clear: none;
    margin-right: 3.22581%;
  }
  .search-results .result:nth-child(3n+4) {
    clear: both;
  }
  .search-results .result:nth-child(3n) {
    margin-right: 0;
  }
}

.result {
  border-top: 2px dotted #bbbbbb;
  padding: 12px 0 24px;
}
.result .id {
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 20px;
  line-height: 2rem;
}
.result .title {
  margin-bottom: 12px;
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 24px;
  line-height: 2.4rem;
}
.result .title a {
  color: #222222;
  text-decoration: none;
}
.result .title a:hover {
  color: #006595;
  text-decoration: underline;
}
.result .action {
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 20px;
  line-height: 2rem;
}
.result .action a {
  display: inline-block;
  margin-right: .25em;
  color: #787878;
  text-decoration: none;
}
.result .action a:hover {
  color: #006595;
}
.result .action .icon {
  font-size: 1.25em;
}

.more-results {
  clear: both;
  padding-top: 24px;
  width: 100%;
  text-align: center;
}

.facet-list {
  margin-bottom: 18px;
}
.facet-list .title {
  margin: 0;
  background: #444444;
  padding: 6px 12px;
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
  font-weight: 700;
  line-height: 24px;
  line-height: 2.4rem;
  background-color: #bbbbbb;
  color: #444444;
}
.facet-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.facet-list ul li {
  position: relative;
  list-style-type: none;
  margin: 0;
  border-top: 2px solid #f3f3f3;
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
}
.facet-list ul li:first-child {
  border-top-width: 0;
}
.facet-list a {
  display: block;
  padding: 6px 36px 6px 12px;
  background: #eaeaea;
  text-decoration: none;
}
.facet-list a:hover {
  background: #f3f3f3;
  text-decoration: underline;
}
.facet-list .count {
  position: absolute;
  padding: 6px;
  right: 0;
  top: 0;
  text-decoration: none;
  color: #787878;
}
@media (min-width: 37.5em) {
  .facet-list .title {
    padding: 6px;
  }
  .facet-list a {
    padding: 6px;
    padding-right: 36px;
  }
}
@media (min-width: 61.25em) {
  .facet-list .title {
    padding: 6px 12px;
  }
  .facet-list a {
    padding: 6px 36px 6px 12px;
  }
}

.active-facets {
  margin-bottom: 12px;
}
.active-facets .facet {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  margin-right: .2em;
  padding: 0 .375em 0 .25em;
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
  background-color: #f3f3f3;
}
.active-facets .facet:hover {
  background-color: white;
  border-color: #eaeaea;
  color: #444444;
}
.active-facets .facet .icon {
  margin-left: .25em;
  color: #bbbbbb;
}

.node-pager {
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
  font-weight: 400;
}
.node-pager a {
  display: inline-block;
  margin-bottom: 0.125em;
  padding: 6px;
  background-color: #eaeaea;
  color: #787878;
  text-decoration: none;
}
.node-pager a:hover, .node-pager a:active {
  background-color: #f3f3f3;
  color: #006595;
  text-decoration: none;
}
.node-pager a:hover .icon, .node-pager a:active .icon {
  color: inherit;
}
.node-pager .pager-prev {
  float: left;
  text-align: left;
}
.node-pager .pager-next {
  float: right;
  text-align: right;
}
.node-pager .icon {
  display: inline-block;
  font-size: 1.5em;
  color: #bbbbbb;
}
.node-pager .id, .node-pager .title {
  display: none;
}
@media (min-width: 37.5em) {
  .node-pager a {
    display: block;
    padding: 12px 6px;
  }
  .node-pager .pager-prev, .node-pager .pager-next {
    float: none;
  }
  .node-pager .id {
    display: inline-block;
  }
}
@media (min-width: 61.25em) {
  .node-pager a {
    padding: 12px;
  }
}

.node-pager.pager-bottom a {
  width: 100%;
}
.node-pager.pager-bottom .icon, .node-pager.pager-bottom .id {
  display: inline-block;
}
.node-pager.pager-bottom .title {
  display: none;
}
@media (min-width: 37.5em) {
  .node-pager.pager-bottom .pager-prev, .node-pager.pager-bottom .pager-next {
    float: left;
    width: 50%;
  }
  .node-pager.pager-bottom .pager-prev {
    border-right: 1px solid white;
  }
  .node-pager.pager-bottom .pager-next {
    border-left: 1px solid white;
  }
}
@media (min-width: 61.25em) {
  .node-pager.pager-bottom .title {
    display: inline-block;
  }
  .node-pager.pager-bottom .pager-prev .title {
    margin-left: .5em;
  }
  .node-pager.pager-bottom .pager-next .title {
    margin-right: .5em;
  }
}

.node-pager.overlay a {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  color: #444444;
}
.node-pager.overlay a:hover {
  background-color: white;
  color: #006595;
}
.node-pager.overlay .icon {
  color: #787878;
}

@font-face {
  font-family: 'EL Icon';
  src: url("../fonts/elicon-regular-webfont.eot");
  src: url("../fonts/elicon-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/elicon-regular-webfont.woff") format("woff"), url("../fonts/elicon-regular-webfont.ttf") format("truetype"), url("../fonts/elicon-regular-webfont.svg#el-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "EL Icon", arial;
  font-weight: normal;
  font-style: normal;
  vertical-align: middle;
}
.icon:before {
  content: attr(data-icon);
}

/**
 * Usage: here's the html to put elsewhere
 * <span class="icon" aria-hidden="true" data-icon="insert-letter-or-unicode-here"></span>
 */
.grade-downloads {
  clear: both;
  padding-top: 24px;
}

.curriculum-list {
  *zoom: 1;
  border-bottom: 2px dotted #c6123f;
  margin-bottom: 48px;
}
.curriculum-list:before, .curriculum-list:after {
  display: table;
  content: "";
}
.curriculum-list:after {
  clear: both;
}
.curriculum-list .item {
  width: 100%;
  clear: right;
  float: right;
  margin-right: 0%;
  position: relative;
  border-top: 2px dotted #c6123f;
  margin: 0;
}
.curriculum-list .item .item {
  border-color: #bbbbbb;
  background-color: #f9f9f9;
}
.curriculum-list .item .item .item {
  background-color: #f3f3f3;
}
.curriculum-list > .item:first-child {
  border-top-width: 0;
  padding-top: 0;
}
.curriculum-list .item-content {
  padding: 24px 0;
  width: 100%;
  clear: right;
  float: right;
  margin-right: 0%;
}
.curriculum-list .item-action {
  padding: 0 0 30px 0;
  width: 100%;
  clear: right;
  float: right;
  margin-right: 0%;
}
.curriculum-list .item-children {
  width: 100%;
  clear: right;
  float: right;
  margin-right: 0%;
  max-height: 0;
  overflow-y: hidden;
}
.curriculum-list .item-children.active {
  max-height: none;
}
.curriculum-list .id {
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
  font-weight: 400;
}
.curriculum-list .title {
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
  font-weight: 700;
  color: #222222;
}
.curriculum-list .title a {
  color: #222222;
  text-decoration: none;
}
.curriculum-list .title a:hover {
  text-decoration: underline;
  color: #006595;
}
.curriculum-list .item-module > .item-content .thumb {
  width: 23.125%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
.curriculum-list .item-module > .item-content .body {
  width: 74.375%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
}
.curriculum-list .item-module > .item-content .id {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 24px;
  line-height: 2.4rem;
}
.curriculum-list .item-module > .item-content .title {
  font-size: 20px;
  font-size: 2rem;
  line-height: 24px;
  line-height: 2.4rem;
  margin-bottom: 6px;
}
.curriculum-list .item-module > .item-content .description {
  margin-bottom: 12px;
}
.curriculum-list .item-unit > .item-content .thumb {
  width: 14.58333%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
.curriculum-list .item-unit > .item-content .body {
  width: 82.91667%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
}
.curriculum-list .item-unit > .item-content .id {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 24px;
  line-height: 2.4rem;
}
.curriculum-list .item-unit > .item-content .title {
  font-size: 20px;
  font-size: 2rem;
  line-height: 24px;
  line-height: 2.4rem;
  margin-bottom: 12px;
}
.curriculum-list .item-task > .item-content .id {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 24px;
  line-height: 2.4rem;
}
.curriculum-list .item-task > .item-content .title {
  font-size: 20px;
  font-size: 2rem;
  line-height: 24px;
  line-height: 2.4rem;
}
.curriculum-list .item-lesson {
  padding: 0 12px;
}
.curriculum-list .item-lesson > .item-content .id, .curriculum-list .item-lesson > .item-content .title {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 20px;
  line-height: 2rem;
}
.curriculum-list .item-lesson > .item-content .title + .id {
  margin-top: 24px;
}
.curriculum-list .item-assessment > .item-content .id, .curriculum-list .item-assessment > .item-content .title {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 20px;
  line-height: 2rem;
}
@media (min-width: 37.5em) {
  .curriculum-list .item-action, .curriculum-list .item-content {
    padding: 24px 0 30px;
  }
  .curriculum-list .item-action {
    text-align: right;
  }
  .curriculum-list .item-children {
    width: 100%;
    clear: right;
    float: right;
    margin-right: 0%;
  }
  .curriculum-list .item-module > .item-content {
    width: 82.91667%;
    clear: right;
    float: left;
    margin-left: 0%;
    margin-right: 2.5%;
  }
  .curriculum-list .item-module > .item-content .thumb {
    width: 38.19095%;
    clear: right;
    float: left;
    margin-left: 0%;
    margin-right: 3.01508%;
  }
  .curriculum-list .item-module > .item-content .body {
    width: 58.79397%;
    clear: right;
    float: right;
    margin-right: 0%;
  }
  .curriculum-list .item-module > .item-action {
    width: 14.58333%;
    clear: right;
    float: right;
    margin-right: 0%;
  }
  .curriculum-list .item-unit > .item-content {
    width: 82.91667%;
    clear: right;
    float: left;
    margin-left: 0%;
    margin-right: 2.5%;
  }
  .curriculum-list .item-unit > .item-content .thumb {
    width: 17.58794%;
    clear: right;
    float: left;
    margin-left: 0%;
    margin-right: 3.01508%;
  }
  .curriculum-list .item-unit > .item-content .body {
    width: 79.39698%;
    clear: right;
    float: right;
    margin-right: 0%;
  }
  .curriculum-list .item-unit > .item-action {
    width: 14.58333%;
    clear: right;
    float: right;
    margin-right: 0%;
  }
  .curriculum-list .item-task > .item-content {
    width: 82.91667%;
    clear: right;
    float: left;
    margin-left: 0%;
    margin-right: 2.5%;
  }
  .curriculum-list .item-task > .item-action {
    width: 14.58333%;
    clear: right;
    float: right;
    margin-right: 0%;
  }
  .curriculum-list .item-lesson > .item-content {
    width: 82.91667%;
    clear: right;
    float: left;
    margin-left: 0%;
    margin-right: 2.5%;
  }
  .curriculum-list .item-lesson > .item-content .thumb {
    width: 17.58794%;
    clear: right;
    float: left;
    margin-left: 0%;
    margin-right: 3.01508%;
  }
  .curriculum-list .item-lesson > .item-content .body {
    width: 79.39698%;
    clear: right;
    float: right;
    margin-right: 0%;
  }
  .curriculum-list .item-lesson > .item-action {
    width: 14.58333%;
    clear: right;
    float: right;
    margin-right: 0%;
  }
  .curriculum-list .item-assessment > .item-content {
    width: 82.91667%;
    clear: right;
    float: left;
    margin-left: 0%;
    margin-right: 2.5%;
  }
  .curriculum-list .item-assessment > .item-action {
    width: 14.58333%;
    clear: right;
    float: right;
    margin-right: 0%;
  }
}
@media (min-width: 47.5em) {
  .curriculum-list .item-module > .item-content .title {
    font-size: 32px;
    font-size: 3.2rem;
    line-height: 36px;
    line-height: 3.6rem;
    margin-bottom: 12px;
  }
  .curriculum-list .item-unit > .item-content .title {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 30px;
    line-height: 3rem;
  }
}

.list-toggle {
  display: inline-block;
  padding: -6px;
  font-family: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 20px;
  line-height: 2rem;
  text-decoration: none;
  color: #787878;
}
.list-toggle:visited, .list-toggle:active {
  color: #787878;
}
.list-toggle:hover {
  color: #006595;
}
.list-toggle:hover .icon {
  color: #006595;
}
.list-toggle .icon {
  font-size: 32px;
  font-size: 3.2rem;
  -webkit-font-smoothing: antialiased;
  position: relative;
  top: -.05em;
  color: #bbbbbb;
}
.list-toggle .open {
  display: block;
}
.list-toggle .close {
  display: none;
}
.list-toggle.active .open {
  display: none;
}
.list-toggle.active .close {
  display: block;
}
@media (min-width: 37.5em) {
  .list-toggle {
    text-align: center;
    position: relative;
    top: -.625em;
  }
  .list-toggle .icon {
    display: block;
    font-size: 60px;
    font-size: 6rem;
    line-height: 100%;
    margin-bottom: -12px;
  }
}
@media (min-width: 47.5em) {
  .list-toggle {
    top: -.625em;
  }
  .list-toggle .icon {
    font-size: 72px;
    font-size: 7.2rem;
    line-height: 100%;
    margin-bottom: -15px;
  }
}

body.common .content {
  max-width: 39em;
  margin: 0 auto;
}

.grid-docs .grid {
  text-align: center;
  color: white;
  background: #772432;
  margin-bottom: 24px;
  min-height: 5em;
  padding-top: 24px;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
.grid-docs .grid-1 {
  width: 6.04167%;
  clear: right;
  float: left;
  margin-left: 0%;
  margin-right: 2.5%;
}
.grid-docs .last {
  width: 6.04167%;
  clear: right;
  float: right;
  margin-right: 0%;
}
@media (min-width: 37.5em) {
  .grid-docs .primary {
    width: 74.375%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  .grid-docs .secondary {
    width: 23.125%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

@font-face {
  font-family: 'DINWebCondensed';
  src: url("../fonts/DINWeb-Cond.eot");
  src: url("../fonts/DINWeb-Cond.eot?#iefix") format("embedded-opentype"), url("../fonts/DINWeb-Cond.woff") format("woff");
  /*url('../fonts/DINWeb-Cond.ttf') format('truetype'),
  url('../fonts/DINWeb-Cond.svg#snicons') format('svg');*/
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DINWebCondensed';
  src: url("../fonts/DINWeb-CondBold.eot");
  src: url("../fonts/DINWeb-CondBold.eot?#iefix") format("embedded-opentype"), url("../fonts/DINWeb-CondBold.woff") format("woff");
  /*url('../fonts/DINWeb-CondBold.ttf') format('truetype'),
  url('../fonts/DINWeb-CondBold.svg#snicons') format('svg');*/
  font-weight: 700;
  font-style: normal;
}
