/* =======================================================
    Site variables
   ======================================================= */

/*  Colors
   ======================================================= */

// Named colors

$black: rgb(34,34,34);
$darkgray: rgb(68,68,68);
$gray: rgb(187,187,187);
$lightgray: rgb(234,234,234);
$verylightgray: rgb(243,243,243);
$white: rgb(255,255,255);

$red: rgb(198,18,63);
$brick: rgb(119,36,50);
$lightred: rgb(212,77,111);
$verylightred: rgb(226,136,159);
$brightred: rgb(240,30,80); /* matches background image colors in site header */

$blue: rgb(0,101,149);
$orange: rgb(243,144,29);
$purple: rgb(109,36,127);
$green: rgb(109,141,36);


 
/*  Sizes
   ======================================================= */

$base: 24px;
$base-xs: $base/4;
$base-sm: $base/2;
$base-md: $base * 2;
$base-lg: $base * 3;
$base-xl: $base * 4;

$base-font-rem: 1rem;
$base-line-height: 1.5em;

$base-line-length: 39em; // control the longest line lengths as needed with this


/*  Fonts
   ======================================================= */

$headline-text: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
$headline-font-weight: 700;

$body-text: Georgia, serif;
$body-font-weight: 400;


/*  Grid
   ======================================================= */

@import "neat/neat-helpers"; // helpers for the Neat grid mixin library

// Grid settings
$column: em(58);
$gutter: em(24);
$grid-columns: 12;
$max-width: 1100px;

$visual-grid: true;
$visual-grid-color: #EEEEEE;
$visual-grid-index: back; // or 'front'

// Define your breakpoints
$q-mobile: new-breakpoint(min-width 0 $grid-columns);
$q-smartphone: new-breakpoint(min-width em(300) $grid-columns);
$q-tablet: new-breakpoint(min-width 37.5em $grid-columns);
$q-desktop: new-breakpoint(min-width 61.25em $grid-columns);
$q-widescreen: new-breakpoint(min-width 68.75em $grid-columns);

// Import Neat grid mixin library
@import "neat/neat";


/*  Borders
   ======================================================= */

$bordercolor: $red;
$borderstyle: dotted;
$borderwidth: 2px;


/*  Links
   ======================================================= */

$linkcolor: $blue;
$linkcolorhover: darken($linkcolor, 10);
$linkcolorvisited: darken($linkcolorhover, 10);
$linkcolorfocus: darken($linkcolorvisited, 10);


/*  Type
   ======================================================= */

$bodycolor: $darkgray;
$headlinecolor: $black;

//end variable declarations


/* =======================================================
    General Selectors
   ======================================================= */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
    font-size: 16px;
    
    // Breakpoints
    @include media($q-desktop) {
        font-size: 18px;
    }
    @include media($q-widescreen) {
        font-size: 20px;
    }
}

body {
    font-size: $base-font-rem;
    line-height:$base-line-height;
    font-family: $body-text;
    background: $white;
    color: $bodycolor;
}

/* block level */

h1, .alpha { 
	font-size: 4rem; /* 64px */
	font-family: $headline-text;
	font-weight: 400;
	line-height: 4.5rem; /* 72px */
	margin-bottom: 1.5rem; /* 24px */
}

h2, .beta {
	font-size: 2.25rem; /* 32px */
	font-family: $headline-text;
	font-weight: $headline-font-weight; 
	margin-bottom: 1.5rem; /* 24px */
	color: $red;
}

h3, .gamma {
	font-size: 1.5rem; /* 24px */ 
	font-family: $headline-text; 
	font-weight: $headline-font-weight; 
	margin-bottom: .75rem; /* 12px */
	color: $black;
}

h4, .delta {
	font-size: 1rem; 
	font-family: $headline-text; 
	font-weight: $headline-font-weight; 
	text-transform: uppercase; 
	margin-bottom: em(12,20);
	color: $black;
}

h5, .epsilon {
	font-size: 20px; font-size: em(20,16); 
	font-family: $body-text; 
	font-weight: $headline-font-weight; 
	margin-bottom: em(12,20);
}

h6, .zeta {
	font-size: 18px; font-size: em(18,16); 
	font-family: $headline-text; 
	font-weight: $headline-font-weight; 
	margin-bottom: em(12,18);
}

p, ul, dl, ol { 
	font-size: $base-font-rem;
	line-height: $base-line-height;
	margin-bottom: 1.5rem; /* 24px */
}

li {
	margin-bottom: .75rem; /* 12px */
}

ul {
    li {
        list-style-type: disc;
    }
}

ol {
	li {
		margin-left: $gutter;
	}
}

/*
nav ul li { list-style-type: none; }
table { 
	border-collapse: collapse; 
	border: 2px solid $black;
}

th {
	text-align: left;
	padding: em(12) $gutter/4;
}

td { 
	padding: em(6) $gutter/4;
}

caption {
	border: 2px solid $black;
	border-bottom: none;
	padding: $base $gutter/4;
}

blockquote {
	p { }
	.who { }
}
figure {
    margin-bottom: em(24);
    img {
        margin-bottom: em(6);
    }
    figcaption {
        display: block;
        font-weight: normal;
    }
}
*/

/* inline */
em { font-style: italic; }
strong { font-weight: 700; }

a {
	color: $linkcolor;
	cursor: pointer;
	&:hover { 
		color: $linkcolorhover;
	}
	&:visited {
    	color: $linkcolorvisited;
	}
	&:focus {
    	color: $linkcolorfocus;
	}
}

img {
    max-width: 100%;
    border-width: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

code { font: 12px/1 'Courier New', Courier, monospace; }

sub, sup { line-height: 0; }

hr {
    clear: both;
    display: block;
    margin: em(12) 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid $bordercolor;
}