<header class="site-header">
    <div class="site-header-inner wrap">

        <h1 class="identity">
            <div class="el-logo">
                Expeditionary Learning
            </div>
            <div class="site-title">            
                <span class="mobile-hidden">Our curriculum combines rigorous content with effective practice, bringing together the “what” and “how” of </span><strong>Common Core Success</strong><span class="mobile-hidden">.</span>
            </div>
        </h1>
        
        <nav class="menu" role="navigation">
            <ul class="main-nav">
                <li class="current"><a href="#">Home</a></li>
                <li><a href="#">Our Curriculum</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </nav>
    
        <div id="menu-toggle">
            <a href="#menu" id="menu-link">
                <span class="open">
                    <span class="icon" aria-hidden="true" data-icon="M"></span>
                </span>
                <span class="close">
                    <span class="icon" aria-hidden="true" data-icon="X"></span>
                </span>
            </a>
        </div>
    
    </div><!-- /.site-header-inner -->
</header>
