<header class="site-header">
    <div class="site-header-inner wrap">

        <h1 class="identity">
            <div class="el-logo">
                Expeditionary Learning
            </div>
            <div class="site-title">            
                <span class="mobile-hidden">Big-picture messaging statement that summarizes EL’s approach to the curriculum and professional development, which results in</span> <strong>Common Core Success</strong>
            </div>
        </h1>
        
        <nav class="menu" role="navigation">
            <ul class="main-nav">
                <li class="current"><a href="#">Home</a></li>
                <li><a href="#">Our Curriculum</a></li>
                <li><a href="#">PD Services</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </nav>
    
        <div id="menu-toggle">
            <a href="#menu" id="menu-link">
                <span class="open">
                    <img src="img/btn-menu-open.png" height="36" width="36" />
                </span>
                <span class="close">
                    <img src="img/btn-menu-close.png" height="36" width="36" />
                </span>
            </a>
        </div>
    
    </div><!-- /.site-header-inner -->
</header>
