//
// Buttons
//

.button {
  display: inline-block;
  border-radius: 5px;
  padding: .4em 1em .5em;
  @include font-size(20);
  font-family: $headline-text;
  font-weight: $body-font-weight;
  text-align: center;
  text-decoration: none;
  background-color: $blue;
  color: $white;
  border: none;
  border-bottom: 2px solid darken($blue,8);
  
  // Transitions
  
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  
  // The visited state
  
  &:visited {
    color: $white;
  }

  // The hover state
  
  &:hover, &:active {
    background-color: darken($blue,8);
    color: $white;
  }
  
  // Button Variations
  
  &.button-disabled {
    border-bottom-color: $gray;
    background-color: $lightgray;
    color: $gray;
    cursor: default;
    &:visited, &:hover, &:active {
      background-color: $lightgray;
      color: $gray;
    }
  }

  &.button-subtle {
    border-bottom-color: $darkgray;
    background-color: $mediumgray;
    color: $white;
    &:visited, &:hover, &:active {
      background-color: $black;
    }
  }
  
  &.button-outline {
    border: 2px solid $lightred;//lighten($brick, 15);
    background-color: transparent;
    color: $verylightred;
    &:hover, &:active {
      background-color: $red;
      color: $white;
    }
  }
  
  &.button-outline-dark {
    border: 2px solid $brick;//lighten($brick, 15);
    background-color: transparent;
    color: $brick;
    &:hover, &:active {
      background-color: $lightred;
      border-color: $white;
      color: $white;
    }
  }
  
  // Sized buttons

  &.button-tiny {
    @include font-size(18);
    padding: .125em .3755em .15em;
  }
  
  &.button-small {
    @include font-size(16);
    padding: .25em .625em .3em;
  }
  
  &.button-large {
    @include font-size(24);
    padding: .6em 1em .625em;
  }
  
  &.button-full {
    width: 100%;
  }
}

//
// Containers
//
.container {
  @include clearfix;
  padding: $space-half;
  background-color: $verylightgray;
  .title {
    @include font-size(18);
    font-family: $headline-text;
    font-weight: $headline-font-weight;
    @include line-height(24);
    color: $darkgray;
  }
  .title-large {
    @include font-size(24);
    @include line-height(28);
    padding: $space-half 0;
  }
  .body {
    font-family: $headline-text;
    p {
      margin: 0;
      @include font-size(18);
      @include line-height(24);
    }
  }
  .action {
    padding: $space-half 0 $space-quarter;
  }
  @include breakpoint($main) {
    .body {
      @include grid-span(4,1,6,.25);
    }
    .action {
      @include grid-span(2,5,6,.25);
      padding: $space-quarter 0;
      text-align: right;
      
    }
  }    
}

.container-group {
  @include clearfix;
  .container {
    margin-bottom: $space-quarter;
  }
  @include breakpoint($main) {
    .container {
      float: left;
      width: column-span(6,1);
      &:nth-child(even) {
        float: right;
      } 
    }
  }  
}