//
// Variables partials
//

// Singularity grid

$grids: 12;
$gutters: 24/58;
$output: 'isolation';

$grid-max: 1100px;

// Colors

$black:         rgb(34,34,34);
$darkgray:      rgb(68,68,68);
$gray:          rgb(187,187,187);
$lightgray:     rgb(234,234,234);
$verylightgray: rgb(243,243,243);
$white:         rgb(255,255,255);

$red:           rgb(198,18,63);
$brick:         rgb(119,36,50);
$lightred:      rgb(212,77,111);
$verylightred:  rgb(226,136,159);
$brightred:     rgb(240,30,80); // matches background image colors in site header

$blue:          rgb(0,101,149);
$orange:        rgb(243,144,29);
$purple:        rgb(109,36,127);
$green:         rgb(109,141,36);

//  Sizes

$space:           24px;
$space-quarter:   $space/4;
$space-half:      $space/2;
$space-double:    $space * 2;
$space-triple:    $space * 3;
$space-quadruple: $space * 4;

// Type

$base-font-size: 16px;
$base-line-height: 24px;

$base-line-length: 39em; // control the longest line lengths as needed with this

$bodycolor: $darkgray;
$headlinecolor: $black;

// Font stacks

$headline-text: "DINWebCondensed", "Arial Narrow", "Lucida Grande", Arial, sans-serif;
$headline-font-weight: 700;

$body-text: Georgia, serif;
$body-font-weight: 400;

// Breakpoints

$breakpoint-to-ems: true;

$desktop:     600px;
$widescreen:  1100px;

$header-sm:   600px;
$header-md:   980px;
$header-lg:   1100px;
$identity:    600px;
$logo:        600px;
$title-sm:    600px;
$title-md:    980px;
$title-lg:    1100px;
$main-nav-sm: 600px;
$main-nav-md: 980px;
$sec-nav-md:  980px;
$menu:        600px;
$menu-toggle: 600px;
$arrow:       600px;
$main:        600px;
$content:     600px;

// Borders

$bordercolor: $red;
$borderstyle: dotted;
$borderwidth: 2px;

// Links

$linkcolor: $blue;
$linkcolorhover: darken($linkcolor, 10);
$linkcolorvisited: $blue;
$linkcolorfocus: darken($linkcolor, 10);
