//
// Defaults
// - Use these partials to do global resets
//

@import 'type';
@import 'forms';
@import 'tables';

// Base styles

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html,
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-size: 62.5%;
/*
  @include breakpoint($desktop) {
    @include font-size(18);
  }
  @include breakpoint($widescreen) {
    @include font-size(20);
  }
*/
}

body {
  @include font-size(16);
  @include line-height(24);
  font-family: $body-text;
  background: $white;
  color: $bodycolor;
}

// Helper classes

.center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

// Images

img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;

  &.left {
    margin-right: $space;
    margin-bottom: $space;
  }

  &.right {
    margin-left: $space;
    margin-bottom: $space;
  }
}
