//
// Typography
//

// Headings

#{headings(1,3)} {
  font-family: $headline-text;
}

#{headings(2,4)} {
  font-weight: $headline-font-weight;
}

#{headings(3,5)} {
  margin-bottom: $space-half;
}

h1 { 
  @include font-size(64);
  font-weight: 400;
  @include line-height(72);
  margin-bottom: $space;
}

h2 {
  @include font-size(32);
  margin-bottom: $space;
  color: $red;
}

h3 {
  @include font-size(24);
  color: $black;
}

h4 {
  @include font-size(16); 
  font-family: $body-text;
  color: $black;
}

h5 {
  @include font-size(20);
  font-family: $headline-text;
  font-weight: $body-font-weight;
  color: $black;
}

h6 {
  @include font-size(16);
  margin-bottom: 0;
  font-family: $body-text;
  font-style: italic;
  font-weight: $body-font-weight;
  color: $black;
}

p, ul, dl, ol { 
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin-bottom: 1.5rem; // 24px
}

// Italics, bold

em { font-style: italic; }
strong { font-weight: 700; }

// Lists

li {
  margin-bottom: .75rem; // 12px
}

ul {
    li {
        list-style-type: disc;
    }
}

ol {
  li {
    margin-left: $space-half;
  }
}

// Links

a {
  color: $linkcolor;
  cursor: pointer;
  
  &:hover { 
    color: $linkcolorhover;
    text-decoration: none;
  }
  
  &:visited {
      color: $linkcolorvisited;
      text-decoration: none;
  }
  
  &:focus {
      color: $linkcolorfocus;
  }
}

// Misc.

code { font: 12px/1 'Courier New', Courier, monospace; }

sub, sup { line-height: 0; }

hr {
  clear: both;
  display: block;
  margin: em(12) 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid $bordercolor;
}
