//
// Typography
//

// Headings

#{headings(1,3)} {
  font-family: $headline-text;
}

#{headings(2,4)} {
  font-weight: $headline-font-weight;
}

#{headings(3,5)} {
  margin-bottom: $space-half;
}

h1 { 
  @include font-size(64);
  font-weight: 400;
  @include line-height(72);
  margin-bottom: $space;
}

h2 {
  @include font-size(32);
  @include line-height(36);
  margin-bottom: $space;
  color: $red;
}

h3 {
  @include font-size(24);
  @include line-height(30);
  color: $black;
}

h4 {
  @include font-size(16);
  @include line-height(24); 
  font-family: $body-text;
  color: $black;
}

h5 {
  @include font-size(20);
  @include line-height(24); 
  font-family: $headline-text;
  font-weight: $body-font-weight;
  color: $black;
}

h6 {
  @include font-size(16);
  @include line-height(24); 
  margin-bottom: 0;
  font-family: $body-text;
  font-style: italic;
  font-weight: $body-font-weight;
  color: $black;
}

p, ul, dl, ol { 
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin-bottom: 1.5rem; // 24px
}

// Italics, bold

em { font-style: italic; }
strong { font-weight: 700; }

// Lists

li {
  margin-bottom: .75rem; // 12px
}

ul {
  padding-left: 1em; // decrease the left padding on lists
  li {
      list-style-type: disc;
  }
}

ol {
  padding-left: .5em; // decrease the left padding on lists
  li {
    margin-left: $space-half;
  }
}

// Set the list item labelling style for nested ordered lists

ol li {
  list-style-type: decimal; // 1. , 2. , 3.
  li {
    list-style-type: upper-alpha; // A. , B. , C.
    li {
      list-style-type: lower-roman; // i. , ii. , iii.
      li {
        list-style-type: lower-alpha; // a. , b. , c.
      }
    }
  }
}

// Set the list item labeling style for ordered lists nested inside of unordered lists

ul li {
  ol li {
    list-style-type: decimal; // 1. , 2. , 3.
    li {
      list-style-type: upper-alpha; // A. , B. , C.
    }
  }
}

// Set the list item labeling for nested unordered lists

ul li {
  li {
    list-style-type: circle;
  }
}

// Links

a {
  color: $linkcolor;
  cursor: pointer;
  
  &:hover { 
    color: $linkcolorhover;
    text-decoration: none;
  }
  
  &:visited {
      color: $linkcolorvisited;
      text-decoration: none;
  }
  
  &:focus {
      color: $linkcolorfocus;
  }
}

// Misc.

code { font: 12px/1 'Courier New', Courier, monospace; }

sub, sup { line-height: 0; }

hr {
  clear: both;
  display: block;
  margin: em(12) 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid $bordercolor;
}
