//
// General page layout
//

main {
  padding-top: $space;
  padding-bottom: $space;
  @include breakpoint($main) {
    padding-top: $space-double;
    padding-bottom: $space-double;
  }
}

.content {
  padding-left: $space-half;
  padding-right: $space-half;
  max-width: $grid-max;
  margin: 0 auto;
  
  @include breakpoint($content) {
    padding-left: $space;
    padding-right: $space;
  }
}
