//
// General page layout
//

main {
  padding-top: 0; // $space; Zero-ing out the top padding so we can use a flush-to-the-top background-image on module detail pages
  padding-bottom: $space;
  @include breakpoint($main) {
    // padding-top: $space-double; See comment above
    padding-bottom: $space-double;
  }
}

.content {
  @include clearfix; // Make sure content div contains all children
}

// Page elements that need to be respect the grid max
.wrap {
  @include clearfix;
  padding-left: $space-half;
  padding-right: $space-half;
  max-width: $grid-max;
  margin: 0 auto;
  
  @include breakpoint($content) {
    padding-left: $space;
    padding-right: $space;
  } 
}

// The node top elements

.node-top {
  width: 100%;
  
  // The innner wrapper that brings the title and pager in from the browser edges

  .node-top-inner {
    position: relative;
  }

  // The title wrapper
  
  .title-wrapper {
    @include grid-span(12,1);
    
    @include breakpoint($content) {
      @include grid-span(9,1); // 9 columns wide, starting at the 1st column
    }
  }

  // The pager
  
  .node-pager {
    position: absolute;
    top: 0;
    left: $space-half;
    right: $space-half;
    z-index: 1;

    @include breakpoint($content) {
      width: column-span(3,10);
      bottom: 0;
      left: auto;
      right: $space;
      top: auto;
    }
  }
  
  // Page intro
  
  .page-intro {
    clear: both;
  }
}

// The node content elements

.node-content {
  @include clearfix;
  clear: both;

  // Primary content
  
  #primary {
    @include grid-span(12,1);
  
    @include breakpoint($content) {
      @include grid-span(9, 1); // 3 columns wide, starting at the 1st column
    }
  }
  
  // Sidebar content
  
  #secondary {
    @include grid-span(12,1);
  
    @include breakpoint($content) {
      @include grid-span(3, 10); // 3 columns wide, starting at the 10th column
    }
  }

}

// Footer content

.node-bottom {
  margin-top: $space-double;
  
  @include breakpoint($content) {
    clear: both;
    margin-top: $space-double;
  }
}
