//
// Design partials
// - Each partial should correspond to a specific component
//   of the website. If you need to set some defaults (like
//   form element styles) use the 'defaults' folder.
//

// Layouts and page templates

@import 'layouts/layouts';

// General site components

@import 'header';
@import 'nav';
@import 'footer';
@import 'secondary-menu';
@import 'assessments';
@import 'jump-links';
@import 'detail-page-header';
@import 'pager';
@import 'icons';

// Custom styles for this style guide ONLY

@import 'custom';
