//
// Detail page header
//

// The node top container

.node-top {
  @include clearfix;
  border-bottom: $borderwidth $borderstyle $bordercolor;
  margin-bottom: $space;
  padding-bottom: $space;
  padding-top: $space;

  // Hide the breadcrumbs on mobile

  .breadcrumb {    
    display: none;
  }
  
  @include breakpoint($main) {
    padding-bottom: $space-and-half;
    
    // Display the breadcrumbs

    .breadcrumb {
      display: block;
      margin-bottom: $space-triple;
      margin-top: -$space-quarter;
      width: 100%;
    }
  }  
}


// The page title and id

.title-wrapper {
    
  .page-title {
    margin: 0;
    padding: 0;
    @include font-size(32);
    line-height: 1.1em;
  }
  
  .id {
    margin: 0 0 $space;
    padding: $space-quarter 0 0 0;
    @include font-size(20);
    font-family: $headline-text;
    font-weight: $body-font-weight;
    text-align: center;
  }
  
  .thumbnail {
    display: none;
  }
  
  h2 {
    margin: 0;
    padding: 0;
  }
    
  @include breakpoint($main) {
    .page-title {
      @include font-size(48);
      line-height: 1.1em;
    }
    .id {
      margin: 0;
      padding: 0;
      text-align: left;
    }
    .thumbnail {
      position: relative;
      display: block;
      float: left;
      margin-right: gutter-span();
      width: $space-triple;
    }
  }
}

// Page intro

.page-intro {
  @include grid-span(12,1);
  font-family: $headline-text;
  font-weight: $body-font-weight;
  p {
    margin: $space 0 0;
    @include font-size(24);
    @include line-height(28);
    max-width: 30em;
    color: $darkgray;
  }
  a .icon {
    color: inherit;
  }
}

// Variations for grade level

.grade {

  // Remove the bottom margin so it doesn't space the grade level list too far away
  
  .node-top {
    margin-bottom: 0;    
  }    

}

// Variations for module pages

.module {

  // Add the background image for the node-top
  
  .node-top {
    border-bottom-width: 0;
    background: {
      color: $brick;
      image: url('../img/treefrog-1600-12quality.jpg');
      size: cover;
      position: 50% 35%;
    }
    
    @include breakpoint($main) {
      .breadcrumb {
        margin-bottom: $space*6;
      }
    }
    
  }    

  // Change the title text color so it works on a background image

  .title-wrapper {
    color: $white;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
  }

}