//
// Detail header
//

.title-wrapper {
    
  .page-title {
    margin: 0;
    padding: 0;
    @include font-size(48);
    line-height: 1;
  }
  
  .id {
    margin: 0;
    padding: 0;
    @include font-size(20);
    font-family: $headline-text;
    font-weight: $body-font-weight;
  }
  
  
  
}
/*
<div class="node-top">
  <div class="node-pager">
    <a href="/">Previous lesson</a>
    <a href="/">Next lesson</a>
  </div><!-- /.node-pager -->
  
  <div class="title-wrapper">
    <div class="id">3M2.2L2</div>
    <h1 class="page-title">Lesson title</h1>
  </div>
</div>
*/
