/* =======================================================
    Site Footer Styles
   ======================================================= */
   
.site-footer {
  padding-top: $space-half;
  padding-bottom: $space-half;
  background-color: $brick;
    
  h3 {
    margin: 0;
    color: $white;
    font-weight: 400;
    line-height: 1.5em;
    text-align: center;
  }
  
  a {
    color: $white;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
  }
  .arrow {
    height: 1.375rem;
    width: 1.375rem;
    display: inline-block;
    margin-left: .5rem;
    position: relative;
    top: .125rem;
    background: {
      color: transparent;
      image: url('../img/bkg-arrow-white.png');
      position: right 50%;
      repeat: no-repeat;
      size: contain;
      }
    }
    
    @include breakpoint($arrow) {
      padding-top: $space;
      padding-bottom: $space;
    }
}
