/* =======================================================
    Site Footer Styles
   ======================================================= */

footer {
  clear: right;
}
   
.site-footer {
  padding-top: $space-half;
  padding-bottom: $space-half;
  background-color: $brick;
    
  h3 {
    margin: 0;
    color: $white;
    font-weight: 400;
    line-height: 1.5em;
    text-align: center;
  }
  
  a {
    color: $white;
  }
  
  .arrow {
    height: 1.375rem;
    width: 1.375rem;
    display: inline-block;
    margin-left: .5rem;
    position: relative;
    top: .125rem;
    background: {
      color: transparent;
      image: url('../img/bkg-arrow-white.png');
      position: right 50%;
      repeat: no-repeat;
      size: contain;
      }
    }

  // Feedback
  
  .footer-feedback {
    border-bottom: $borderwidth $borderstyle lighten($brick,15);
    padding: 0 0 $space;
    text-align: center;
    margin-bottom: $space-half;
    
    h3 {
      margin: 0;
    }
  
    p {
      margin: 0 0 $space-half;
      font-family: $headline-text;
      font-weight: $body-font-weight;
      @include font-size(24);
      @include line-height(28);
      color: $white;
      -webkit-font-smoothing: antialiased;
    }
    
    @include breakpoint($homepage-lg) {
      p {
        display: inline-block;
        margin: 0 .5em 0 0;
      }
    }
      
  }
    
  // The license
  
  .license {
    padding-top: $space;
    font-family: $headline-text;
    font-weight: $body-font-weight;
    @include font-size(18);
    @include line-height(20);
    color: $verylightred;
    text-align: left;
    
    p {
      margin: 0;
    }
    
    a {
      text-decoration: underline;
      color: $verylightred;
      &:hover {
        text-decoration: none;
        color: $white;
      }
    }
  }
    
  @include breakpoint($arrow) {
    padding-top: $space;
    padding-bottom: $space;
    .footer-feedback {
      margin-bottom: $space;
    }
  }
    
  @include breakpoint($homepage-md) {
    .license {
      text-align: center;
      max-width: column-span(10,1);
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include breakpoint($homepage-lg) {
    .license {
      max-width: column-span(8,1);
    }
  }
}
