/* =======================================================
    Site Header Styles
   ======================================================= */

.site-header {
  padding-top: $space-half;
  background: {
    color: $red;
    image: url('../img/bkg-wrench.png');
    position: right -30px;
    repeat: no-repeat;
    size: 90%;
  }
    
  @include breakpoint($header-sm) {
    padding-top: $space;
    background-size: 100%;
    background-position: right bottom;
  }
  @include breakpoint($header-md) {
    background-size: 90%;
  }
  @include breakpoint($header-lg) {
    background-size: 80%;
  }
}

.site-header-inner {
  position: relative;
  padding-left: $space-half;
  padding-right: $space-half;
  @include grid-max;
  @include breakpoint($header-sm) {
    padding-left: $space;
    padding-right: $space;
  }
}

// Identity

.identity {
  margin: 0;
  padding-bottom: $space-half;
  @include clearfix;
  
  @include breakpoint($identity) {
    padding-bottom: $space;
  }
}

// The EL logo

.el-logo {
  float: left;
  margin-right: $space-quarter;
  width: 48px; // Limit the width and height so we only see the "E" symbol
  height: 36px;
  background: transparent url('../img/el-logo.png') left top no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  
  @include breakpoint($logo) {
    float: none;
    width: 162px; // Expose the full EL logo
    height: 102px;
    margin-bottom: 2rem;
    position: relative;
    left: -12px; // shift the logo left so the type lines up with the content area
  }
}

// The site title

.site-title {
  display: block;
  color: $white;
  @include font-size(24);
  line-height: 36px; // Match the height of the EL symbol
  margin-bottom: 0;
  -webkit-font-smoothing: antialiased;
  .mobile-hidden {
      display: none; // Hide everything except "Common Core Success" on mobile
  }

  @include breakpoint($title-sm) {
  	@include font-size(36);
  	@include line-height(42);
  	@include grid-span(11,1);
  	.mobile-hidden {
      	display: inline; // Show the full title statement
  	}
  }

  @include breakpoint($title-md) {
  	@include grid-span(10);
  }

  @include breakpoint($title-lg) {
  	@include grid-span(9);
  }
}

// Main navigation

.main-nav {
  margin: 0;
  padding: 0;
  font-family: $headline-text;
  font-weight: 400;
  @include font-size(24);
  @include line-height(28);
  background-color: $brick;
  > li {
    margin: 0;
    list-style-type: none;
    border-top: 2px dotted $red;
    
    &:first-child {
        border-top-width: 0;
    }
  }
  
  a {
    display: block;
    padding: .65rem .75rem .75rem;
    color: $verylightred;
    text-decoration: none;
    &:hover {
        color: $white;
    }
  }
  
  .current a {
    color: $white;
  }
  
  @include breakpoint($main-nav-sm) {
    background-color: transparent;
    @include font-size(24);
    @include line-height(28);
    > li {
      display: inline-block;
    }
    a {
      color: $brick;
      padding: 0 .25rem;    
    }
  }
  
  @include breakpoint($main-nav-md) {
    @include font-size(24);
    @include line-height(28);
    
    a {
      padding: 0 .5rem;
    }
  }
}

// Menu and menu toggle

// Menu

.menu {
  max-height: 0;
  overflow-y: hidden;
  margin-left: -1*$space-half;
  margin-right: -1*$space-half;
  -moz-transition: max-height .3s ease-in-out;
  -ms-transition: max-height .3s ease-in-out;
  -o-transition: max-height .3s ease-in-out;
  -webkit-transition: max-height .3s ease-in-out;
  transition: max-height .3s ease-in-out;
  &.active {
      max-height: 18em;
  }
    
  @include breakpoint($menu) {
    margin-left: 0;
    margin-right: 0;
    max-height: none;
    position: absolute;
    top: 0;
    right: $space;
  }
}

#menu-toggle {
  position: absolute;
  right: $space-half;
  top: 0;
  z-index: 10;
  width: 36px;
  height: 36px;
    
  @include breakpoint($menu-toggle) {
      display: none;
  }
}

// Menu link

#menu-link {
  text-decoration: none;
  color: $brick;
  .icon {
    @include font-size(48);
    line-height: 36px;
  }
  .open {
    display: block; // Show the hamburger and hide the X
  }
  .close {
    display: none;
  }
}
#menu-link.active {
  .open {
    display: none; // Show the X and hide the hamburger
  }
  .close {
    display: block;
  }
}
