//
// Homepage
//

.home main {
  padding-bottom: 0; // Zero out standard padding on main so bottom stripe can sit flush against site footer
}

// Grades

.grades {
  background-color: $lightgray;
  padding-bottom: $space;
  text-align: center;
  
  h3 {
    color: $darkgray;
  }
  
  .tile-grid {
    > div {
      float: none; // Get rid of the float that applied by default to divs in a .tile-grid
      display: inline-block; // Display them inline-block so they will center
      margin-right: -4px; // Remove the gap between inline-block elements
    }
  }
  
}
// Promos

.promos {
  padding: 0;
  background-color: $brick;
  border-bottom: $borderwidth $borderstyle lighten($brick,15);
  
  .promo {

    border-top: $borderwidth $borderstyle lighten($brick,15);    
    padding-bottom: $space-and-half;
    padding-top: $space;    
    &:first-child {
      border-top-width: 0;
    }
    
    .title {
      font-family: $headline-text;
      @include font-size(24);
      font-weight: $headline-font-weight;
      @include line-height(28);
      margin-bottom: $space-half;
      color: $white;
      -webkit-font-smoothing: antialiased;
      
      a {
        color: $white;
        text-decoration: none;
        &:hover {
          color: $verylightred;
          text-decoration: underline;
        }
      }
    }
    
    .body {
      margin-bottom: $space-half;
      color: $white;
      p { margin: 0; }
    }
    
    .action {
      font-family: $headline-text;
      @include font-size(20);
      font-weight: $body-font-weight;
      @include line-height(24);
      color: $verylightred;
      a {
        color: $verylightred;
        text-decoration: none;
        &:hover {
          color: $white;
        }
      }
      .icon {
        -webkit-font-smoothing: antialiased;
      }
    }
    
  } // End promo
  
  @include breakpoint($homepage-md) {

    .promo {
      border-top-width: 0;
      float: left;
      width: 30%;
    }
    
    // Apply margin, padding and borders to the 2nd promo only
    
    .promo:nth-child(even) {
      width: 34%;
      margin: 0 2%;
      padding-left: 2%;
      padding-right: 2%;
      border-left: 2px dotted lighten($brick,15);
      border-right: 2px dotted lighten($brick,15);
    }

  }

}

// Features and benefits

// Base styles

.features-and-benefits {

  @include clearfix;
  padding: $space-and-half 0 $space-double;
  
  h2 {
    margin: 0 0 $space 0;
    padding: 0;
    text-align: center;
  }
  
  .feature-list {
    @include clearfix;
    margin: 0 0 $space;
    padding: 0;
    > li {
      list-style-type: none;
    }
  }

  .feature {
    border-top: 2px dotted $gray;
    margin: 0;
    padding: $space-half 0 $space;

    h3 {
      margin: 0 0 $space-half 0;
    }
    h5 {
      margin: $space-half 0 0 0;
    }
    p {
      margin: 0;
    }
    p+p {
      margin-top: $space-half;
    }
    
    img {
      display: block;
      margin-bottom: $space-half;
    }
  }
  
  .next-step {
    text-align: center;
    
    .button {
      margin-bottom: $space-half;
    }
  }  

  .action-link {
    font-family: $headline-text;
    @include font-size(20);
    font-weight: $body-font-weight;
    @include line-height(24);
    color: $blue;
    text-decoration: none;
    .icon {
      -webkit-font-smoothing: antialiased;
    }
    &:hover {
      color: $linkcolorhover;
    }
  }

}

// The differences feature list

#differences {
  // At non-mobile widths show 2-up
  @include breakpoint($homepage) {
    .feature {
      @include float-span(6);
      &:nth-child(even) {
        @include float-span(6,'last');
      }
    }
  }
  // At widescreen widths whow 4-up  
  @include breakpoint($homepage-lg) {
    .feature {
      @include float-span(3);
      &:nth-child(even) {
        @include float-span(3);
      }
      &:nth-child(4n) {
        @include float-span(3,'last');
      }
    }
  }  
}

// The how it works feature list

#how {
  // At non-mobile widths show the images and body side-by-side
  @include breakpoint($homepage) {
    .feature {
      @include float-span(12);
    }
    .img {
      @include float-span(6);
    }
    .body {
      @include float-span(6,'last');
    }
  }
  // At widescreen widths whow 3-up  
  @include breakpoint($homepage-lg) {
    .feature {
      @include float-span(4);
    }
    .feature:nth-child(3) {
      @include float-span(4,'last');
    }
    .img {
      float: none;
      width: 100%;
    }
    .body {
      float: none;
      width: 100%;
    }
  }  
}  

// Testimonials

// Base styles

.testimonials {
  background-color: $gray;
  
  .quote {
    padding: $space 0;
    @include grid-span(10,2);
    font-family: $headline-text;
    font-weight: $body-font-weight;
    background-color: $gray;
    color: $darkgray;
    
    .body {
      @include font-size(24);
      @include line-height(28);
      margin-bottom: $space-half;
      text-indent: -.3em;
    }
    .source {
      @include font-size(18);
      @include line-height(20);
    }
    .name, .school {
      display: block;
      color: $verylightgray;
    }
  }
  
  @include breakpoint($homepage-md) {
    .quote {
      @include grid-span(8,3);
    }
  }
    
}

// Fader styles

.fader {

  @include clearfix;
  position: relative;
  
  .slide {
    z-index: 1;
    opacity: 0; // Init values for these hide all slides. They are revealed by the script
  }
  
  .prev, .next {
    position: absolute;
    top: 0;
    bottom: 0;
    @include font-size(36);
    color: lighten($gray,10);
    &:hover {
      color: $white;
    }
    
    .icon {
      position: absolute;
      top: 50%;
      margin-top: -.375em;
      -webkit-font-smoothing: antialiased;
    }
    
  }
  
  .prev {
    text-align: left;
    left: 0;
    width: column-span(1,1);
    .icon {
      left: 0;
    }
  }
  
  .next {
    text-align: right;
    right: 0;
    width: column-span(1,1);
    .icon {
      right: 0;
    }
  }

  @include breakpoint($homepage) {
    .prev,.next {
      @include font-size(48);
      .icon {
        margin-top: -.25em;
      }
    }
  }
  
  @include breakpoint($homepage-md) {
    .prev,.next {
      @include font-size(60);
      .icon {
        margin-top: -.25em;
      }
    }
  }
  
}

// Feedback

.home .feedback {
  background-color: $brick;
  border: none;
  border-bottom: $borderwidth $borderstyle lighten($brick,15);
  margin: 0;
  padding: $space;
  text-align: center;
  //margin-top: $space;
  //padding: $space-half;
  // border: 1px solid $gray;
  // font-family: $headline-text;
  
  .title {
    //margin: 0;
    //font-family: $headline-text;
    //@include font-size(18);
    //@include line-height(24);
    // color: $headlinecolor;
    color: $white;
    display: inline-block;
  }
  
  p {
    /*margin: 0 0 $space-half;
    padding: 0;
    @include font-size(18);
    @include line-height(24);*/
    color: $white;
    display: inline-block;   
  }
  .title, p {
    display: inline-block;
    margin: 0 .25em;
  }
  
}
