//
// Secondary menu
//

// The main container

#secondary-menu {
  background-color: $brick;
}

// The inner container

.secondary-menu-inner {
  padding-left: $space-half;
  padding-right: $space-half;
  @include grid-max;
  @include breakpoint($header-sm) {
    padding-left: $space;
    padding-right: $space;
  }
}

// The navigation list

.secondary-nav {
  margin: 0;
  margin-left: -.8rem; // Pull the entire nav list left to re-align it with the left edge of the site content
  padding: 0;
  font-family: $headline-text;
  font-weight: 400;
  @include font-size(20);
  @include line-height(24);
  
  > li {
    display: inline-block;
    margin: 0 .8rem;
    padding: 0;
    list-style-type: none;
  }
  
  a {
    display: block;
    padding: 1.4rem 0 1.6rem; // Slightly less padding top keeps the links optically centered in the band
    color: $verylightred;
    text-decoration: none;
    &:hover {
      color: $white;
    }
  }
  
  .current a {
    color: $white; // The current link is highlighted white
  }

  @include breakpoint($sec-nav-md) {
    @include font-size(24); // Enlarge font-size to match main navigation when there's more room
    @include line-height(28);
  }

}